.container-itemcount{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    align-content: center;
}



.container-cantidades{
    display: flex;
    flex-direction: column;
}


.boton-itemcount{
color: white !important;}


.botones-compra{
    display: flex;
    direction: row;
    justify-content: center;
     }